body {
    /*width: 64em; */
    width: 100%;
    height: 100%;
    position: fixed;
    display: inline-block;
    margin: 5px 10px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    color: #f0f8ff;
    /*background-color: #6969FF; */
    /*background: linear-gradient(180deg, #6969FF, #ad32ff); */
    background-image: url( './anim1.svg' );
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-origin: border-box;
    /*animation: rotate-gradient linear 10s infinite; */
}

/*@keyframes rotate-gradient {
    to { transform: rotate(360deg) }
} */

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}
::selection {
    color: red;
    background: yellow;
}

a:link {
    color: #deb887;
}
a:visited {
    background-color: cyan;
}
a:hover {
    color: blueviolet;
    background-color: lightgreen;
}
  
a:active {
    color: blueviolet;
    background-color: hotpink;
}  

