/* for debugging purposes, pls comment out when not required :D */
* {
    outline: 1px solid red;
}

body {
    display: inline-block;
    margin: 5px 10px;
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 18px;
    color: #f0f8ff;
    /*background-color: #6969FF; */
    /*background: linear-gradient(180deg, #6969FF, #ad32ff); */
    background-image: url( '../assets/anim1.svg' );
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-origin: border-box;
    /*animation: rotate-gradient cubic-bezier(0.63,-0.47, 0.31, 1.35) 10s infinite; */
}

@keyframes rotate-gradient {
    to { transform: rotate(360deg) }
} 

::-moz-selection { /* Code for Firefox */
    color: red;
    background: yellow;
}
::selection {
    color: red;
    background: yellow;
}

a:link {
    color: #deb887;
}
a:visited {
    background-color: cyan;
}
a:hover {
    color: blueviolet;
    background-color: lightgreen;
}
  
a:active {
    color: blueviolet;
    background-color: hotpink;
}
